.consultant-card {
  margin-top: 30px;
}

.consultant-card > p {
  flex: 1;
}

.consultant-card > p {
  color: #777;
  font: 13px 'Muli', sans-serif;
  line-height: 20px;
  margin: 0 20px;
  text-align: center;
}

.consultant-card .consultant-avatar {
  position:relative;
  top: -20px;
  width: 129px;
  height: 147px;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}

.consultant-card .consultant-info {
  margin-bottom: 10px;
  align-self: stretch;
  position: relative;
}

.consultant-card .consultant-info img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  opacity: 0.3;
  z-index: -1;
}

.consultant-card .consultant-info p {
  color: #333;
  font: 13px 'Muli', sans-serif;
}

.consultant-card .consultant-info-head {
  margin-bottom: 10px;
}

.consultant-info .consultant-info-head p {
  font-size: 20px;
  margin: 0;
}

.consultant-card .tag {
  padding: 5px 15px;
  margin: 10px 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.consultant-card .tag span{
  font-weight: bold;
  margin-left: 7px;
}

.consultant-card .signal-btn {
  margin: 20px 0;
}
