.how-we-help {
  border-radius: 8px;
  cursor: pointer;
}

.how-we-help img {
  width: 60px;
  height: 60px;
  margin: 20px;
}

.how-we-help .down-arrow {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
}

.how-we-help p {
  color: #00acc1;
  font-size: 14px;
}

.how-we-help > div p:last-of-type {
  color: #444;
}
