body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 0;
  color: #00acc1;
  font: 20px 'Muli', sans-serif;
}

p {
  margin: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

.card {
  margin: 10px;
  border: 1px solid red;
  flex: 1;
  height: 500px;
}

.margin-h {
  margin: 0 10px;
}



/* FLEX STUFF */

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.start {
  align-items: flex-start;
}

.center {
  align-items: center;
}

.end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}
