.slider {
  position: relative;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  text-align: center;
  font: bold 16px 'Muli', sans-serif;
  line-height: 32px;
  color: #00acc1;
  cursor: pointer;
  z-index: 2;
}

.slider-left {
  left: -6px;
}

.slider-right {
  right: -6px;
}
